# Pinata API Configuration
# Get your API keys from: https://app.pinata.cloud/developers/api-keys
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmY2Q2NjY1Zi1mM2IyLTQ4MWQtYTVkNS02MjZlMDNjNzg1ZTAiLCJlbWFpbCI6InR5cGVpbm15Zmlyc3RuYW1lLm15bGFzdG5hbWVAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImY1Njc5MDAzNmFjNDU2NzY3YzQwIiwic2NvcGVkS2V5U2VjcmV0IjoiNjM1YmUwZWMwMTg0MTliZjBlYmFmMDdkYjRlMmU0NDc5YmZhMzFhMjVjMDg2YzJjNjE2NmJiYzg5ODMwNWU3YyIsImV4cCI6MTgwMTc5MDc4Mn0.xa4BJKwYSK06orAe7jnkyK_ZAnf3fsdAMIoQMKy6HT0
